<!-- <nav class="navbar fixed-bottom navbar-light bg-light">
{%- if site.show-style-guide %}
    <a href="{{ site.baseurl }}{% link style-guide/index.md %}" class="btn">Style Guide</a>
{%- endif %}
</nav> --> 

<!-- Start footer --> 
<footer class="footer_ ">
<div class="container-fluid container">
    <div class="row space3">
        <div class="col-12 col-md-4">
            <a class="nav-link active footer" href="index.html">Over ons</a>
            <a class="nav-link active footer" href="tarieven.html">Tarieven</a>
            <a class="nav-link active footer" href="verkvoorw.html">Verkoopsvoorwaarden</a>
            
        </div>

        <div class="col-12 col-md-4 icons" style="font-size:2em; color:white">
            <i class="fa fa-facebook-square"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-twitter-square"></i>
            <i class="fa fa-pinterest-square"></i> 
        </div>

        <div class="col-12 col-md-4">
            <p class="nav-link footer" >RAKETTRIP</p>
            <p class="nav-link footer" >Rakettrip, C Copyright 2017</p>
        </div>
    </div>
</div>
</footer>

<!-- einde footer --> 

