<!-- <nav class="navbar fixed-bottom navbar-light bg-light">
{%- if site.show-style-guide %}
    <a href="{{ site.baseurl }}{% link style-guide/index.md %}" class="btn">Style Guide</a>
{%- endif %}
</nav> --> 

<!-- Start footer --> 
<div class="container-fluid">
    <div class="row">
            <nav class="nav flex-column fixed-bottom navbar-light bg-dark foot">
                <div class="col-10">
                    <a class="nav-link active footer" href="index.html">Over ons</a>
                    <a class="nav-link active footer" href="tarieven.html">Tarieven</a>
                    <a class="nav-link active footer" href="verkvoorw.html">Verkoopsvoorwaarden</a>
                    <a class="nav-link footer" >Rakettrip, C Copyright 2017</a>
                    <a class="nav-link footertitel" >RAKETTRIP</a>
                </div>

                <div class="col-2">
                        <i class="fab fa-facebook"></i>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </div>
            </nav>
        </div>
    </div>
</div>

<!-- einde footer --> 
