

p{
    font-family: 'raleway';
    font-size: 12pt;
    margin-top: 8px;
    margin-bottom: 8px;
}

td{
    font-family: 'raleway';
    font-size: 12pt;
    margin-top: 8px;
}

h1{
    font-family:'raleway';
    font-size: 15pt;
    font-style: thin;
    color:#1594b7;
    padding-top: 6px;
}

h2{
    font-family: 'raleway';
    font-style: bold;
    font-size: 14pt;
}

a{
    font-family:'raleway';
    font-size: 10pt;
}

.display-4{
    font-family: 'raleway';
    font-size: 15pt;
    background: url('/images/bestemming.jpg') no-repeat;
};

.list-group-item{
    font-family: 'raleway';
    font-size: 12pt;
}

option{
    font-family: 'raleway';
    font-size: 7pt;
}

.form-control{
    margin-bottom: 5px;
}

.dropdown{
    margin-bottom: 5px;
}

.heelal{
    background: url('../../images/button.jpg') no-repeat;
}

.header{
    max-height: 100%;
    width: auto;
}

.titel{
    width: auto;
}

.carousel-control-next{
    padding-bottom: 10px;
}

.jumbotron{
    padding: 5px;
}

.end{
    padding-bottom: 200px; 
  }

.fab{
    width: 7px;
  }



/* start slide button */
/* einde slide button */