
/* FOOTER BAR 
 -------------------------------------------------- */
.footer{
    font-family: 'raleway';
    color: #33c0f5;
    font-size: 9px;
    margin-bottom: 0px;
    padding-bottom: 2px;
    padding-top: 2px;
  }
 
.footertitel{
    font-family: 'raleway';
    color: #33c0f5;
    font-size: 11px;
    margin-bottom: 0px;
    padding-bottom: 2px;
    padding-top: 6px;
  }
.foot{
    min-height: 70px !important;
    max-height:120px;
    padding-top: 10px;
    padding-bottom: 10px;
}
