
/* FOOTER BAR 
 -------------------------------------------------- */
.footer{
    font-family: 'raleway';
    color: white;
    font-size: 12px;
    margin-bottom: 0px;
    padding-bottom: 2px;
    padding-top: 5px;
  }

.footer2{
  font-family: 'raleway';
  color: white;
  font-size: 12px;
  margin-bottom: 0px;
  padding-bottom: 1px;
  padding-top: 1px;
}
.footer_{
  background: url('../../images/footer.jpg') no-repeat;
}
 
.foot{
    min-height: 70px !important;
    max-height:130px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.space3{
  padding-bottom: 8px;
}
