<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{Rakettrip}}</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/app.scss %}">
</head>
<body>


<img src="images/titel2.jpg" class="img-fluid header" alt="titel">


  {% include nav.html %}

  {{ content }}
  <button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>

  {% include footer.html %}

  {% include scripts-bottom.html %}
</body>
</html>